<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616189110802-fh05v2n1ojcc774fksf92419hlg8s2k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616189110802-fh05v2n1ojcc774fksf92419hlg8s2k4</string>
	<key>API_KEY</key>
	<string>AIzaSyCYLM7RHRSAaXxAqSUuAFJ5RAGIDPfoz74</string>
	<key>GCM_SENDER_ID</key>
	<string>616189110802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergeylukaschuk.shopList</string>
	<key>PROJECT_ID</key>
	<string>shoplist-4db18</string>
	<key>STORAGE_BUCKET</key>
	<string>shoplist-4db18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616189110802:ios:a6e8f24e9c4e37dc5806cb</string>
</dict>
</plist>